<div style="height:100%; padding-top:52px; padding-left: 10px; padding-right: 15px">
    <h4 class="title">Query text</h4>
    <div style="width: 100%">
        <textarea type="text" class="form-control" placeholder="Query" ng-model="query" spellcheck="false"></textarea>
        <button class="btn btn-default" type="button" ng-click="runQuery()" style="margin-top:5px">Run query</button>
        <button class="btn btn-default" type="button" ng-click="getFragment()" style="margin-top:5px">Get fragment</button>
    </div>
    {% raw %}
    <div class="container-fluid">
        <div class="row">
            <div ng-show="solutions == true" class="col-md-5" style="padding-left: 0px">
                <h4 class="title">Query results<span id="rbadge" class="badge">{{results.length}}</span></h4>
                <div class="result" ng-repeat="r in results">

                    <table class="table">
                        <tr ng-repeat="v in vars">
                            <td class="var">{{v}}</td>
                            <td class="value">{{r[v].value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="fragment == true" class="col-md-7">
                <h4 class="title">Fragment triples<span id="fbadge" class="badge">{{triples.length}}</span></h4>
                <div ng-repeat="triple in triples">
                    <p class="triple value">{{triple[0]}} {{triple[1]}} {{triple[2]}} .</p>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
</div>